{% extends 'base.html.twig' %}

{% block title %}Liste des séries
{% endblock %}
{% form_theme categoriesform _self %}
{% block genres_widget %}

	<select id="cars" name="cars">
		{% for genre in genres %}
			<option value="volvo">Volvo</option>
		{% endfor %}
	</select>
	<br>
{% endblock %}

{% block body %}

	<div class="seriebackground">
		<nav class="searchform">
			{% if app.user and app.request.get('_route') == 'series_followed'%}

				<h1>Voici les séries que vous suivez !</h1>
			{% else %}
				<h1>Consulter l'ensemble des séries</h1>
			{% endif %}
			<p>
				<b>Recherche par titre</b>
			</p>

			{{ form_start(searchform) }}
			{{ form_widget(searchform.title) }}
			<p>Filtres :</p>
			{{ form_widget(searchform.filters) }}
			<br>
			<br>


			{{ form_end(searchform) }}
			<br>
			<div class="categories-container">
				{{ form_start(categoriesform) }}
				{{ form_widget(categoriesform.genres) }}
				{{ form_end(categoriesform) }}
				<br>
				{{ form_start(countriesform) }}
				{{ form_widget(countriesform.countries) }}
				{{ form_end(countriesform) }}
				<br>
			</div>

			{% if id > 0 %}
				<button type="button">
					<a href="
						{% if search == NULL %}
						{{ path(page, {'id': id - 1}) }}
						{% else %}
						{{ path(page, {'id': id - 1, 'search' : search}) }}
						{% endif %}
						">Page précédente</a>
				</button>
			{% endif %}

			{% if id < size/10 - 1 %}
				<button type="button">
					<a href="
						{% if search == NULL %}
						{{ path(page, {'id': id + 1}) }}
						{% else %}
						{{ path(page, {'id': id + 1, 'search' : search}) }}
						{% endif %}
						">Page suivante</a>
				</button>
			{% endif %}
			<p>{{ size }}
				références</p>
		</nav>
	</div>

	<main class="series-list">


		{% for series in series %}
			<div class="serie">
				<header class="serie-title">
					{{ series.title }}
				</header>
				<div class="serie-content">
					<div class="serie-poster">*
						<td><img src="{{path('series_poster', {'id': series.id} ) }}" alt="poster"></td>
					</div>
					<article class="serie-description">

						<div class="serie-plot">
							<h5>Histoire</h5>
							<p>{{ series.plot }}</p>
						</div>
						<div class="serie-details">
							<ul>
								<li>
									<p>Année de lancement :
										{{ series.yearStart }}</p>
								</li>
								<li>
									<p>Année de fin :
										{{ series.yearEnd }}</p>
								</li>
								<li>
									<p>Prix :
										{{ series.awards }}</p>
								</li>
								<button type="button" id="seemore">
									<a href="{{ path('series_show', {'id': series.id}) }}">Plus de détails</a>
								</button>
							</ul>
						</div>


					</article>


				</div>


			</div>

		{% else %}
			<p>Error : no records found</p>
		</tr>
	{% endfor %}
</main>
{% block footer   %}
	<footer class="footer primary">
		Copyright © 2020
	</footer>
{% endblock %}{% endblock %}
