{% extends 'base.html.twig' %}

{% block title %}Liste des séries
{% endblock %}
{% form_theme categoriesform _self %}
{% block genres_widget %}{% endblock %}

{% block body %}

	<div class="seriebackground">
		<nav class="searchform">
			{% if app.user and app.request.get('_route') == 'series_followed'%}

				<h2>Voici les séries que vous suivez !</h2>
			{% else %}
				<h2>Consulter l'ensemble des séries</h2>
			{% endif %}
			<p>
				<b>Recherche par titre</b>
			</p>

			{{ form_start(searchform) }}
			{{ form_widget(searchform.title) }}
			<div class="filters-container">
				<div class="search-container">

					<p>
						Trier par notes croissantes</p>
					{{ form_widget(searchform.note) }}
					<p>
						Trier par notes décroissantes</p>
					{{ form_widget(searchform.decroissant) }}

				</div>
				{{ form_end(searchform) }}
				<br>
				<div class="categories-container">
					{{ form_start(categoriesform) }}
					<p>Genres :</p>
					{{ form_widget(categoriesform.genres) }}
					{{ form_end(categoriesform) }}
					<br>
					{{ form_start(countriesform) }}
					<p>Pays :</p>
					{{ form_widget(countriesform.countries) }}
					{{ form_end(countriesform) }}
					<br>
				</div>
			</div>

			{% if id > 0 %}
				<button type="button">
					<a href="
																																																																																																{% if search == NULL %}
																																																																																																{{ path(page, {'id': id - 1}) }}
																																																																																																{% else %}
																																																																																																{{ path(page, {'id': id - 1, 'search' : search}) }}
																																																																																																{% endif %}
																																																																																																">Page précédente</a>
				</button>
			{% endif %}

			{% if id < size/10 - 1 %}
				<button type="button">
					<a href="
																																																																																																{% if search == NULL %}
																																																																																																{{ path(page, {'id': id + 1}) }}
																																																																																																{% else %}
																																																																																																{{ path(page, {'id': id + 1, 'search' : search}) }}
																																																																																																{% endif %}
																																																																																																">Page suivante</a>
				</button>
			{% endif %}

			{% if app.user %}
				{% if app.user.getAdmin() == 1 %}
					<button type="button" id="series_new">
						<a href="{{ path('series_new') }}">Ajouter une série</a>
					</button>
				{% endif %}
			{% endif %}

			<p>{{ size }}
				références</p>
		</nav>
	</div>

	<main class="series-list">

		{% for series in series %}
			{% block serie %}
				<div class="serie">
					<header class="serie-title">
						{{ series.title }}
					</header>
					<div class="serie-content">
						<div class="serie-poster">
							<td><img src="{{path('series_poster', {'id': series.id} ) }}" alt="poster"></td>
						</div>
						<article class="serie-description">

							<div class="serie-plot">
								<h5>
									<b>Histoire</b>
								</h5>
								<p>{{ series.plot }}</p>
							</div>
							<div class="serie-details">
								<ul>
									<li>
										<p>Année de lancement :
											{{ series.yearStart }}</p>
									</li>
									<li>
										<p>Année de fin :
											{% if series.yearEnd %}
												{{ series.yearEnd }}
											{% else %}
												encore d'actualité !
											</p>
										{% endif %}

									</li>
									{% if  app.request.attributes.get('_route') == 'series_index' or app.request.attributes.get('_route') == 'series_followed' or app.request.attributes.get('_route') == 'series_pages' %}
										<button type="button" id="seemore">
											<a href="{{ path('series_show', {'id': series.id}) }}">Plus de détails</a>
										</button>
									{% endif %}
								</ul>
							</div>

							{% if series.awards %}
								<div class="serie-details">
									<img src="{{asset('icons/icons8-trophée-128.png') }}" alt="award" class="image">
									<p>{{ series.awards }}</p>
								</div>
							{% endif %}


						</article>


					</div>


				</div>
			{% endblock %}

		{% else %}
			<p>Error : no records found</p>
		</tr>
	{% endfor %}
</main>
{% block footer   %}
	<footer class="footer primary" style="position:relative">
		Copyright © 2020
	</footer>
{% endblock %}{% endblock %}
