{% extends 'base.html.twig' %}

{% form_theme ratingform.value _self %}

{% block choice_widget %}

	{% if choices %}
		{% for choice in choices %}
			<input type="radio" id="rating_form_value_{{choice.label}}" name="rating_form[value]" class="star" required="required" value="{{choice.label}}"/>
		{% endfor %}
	{% endif %}
	<br>
{% endblock %}

{% block title %}Series
{% endblock %}

{% block body %}
	<main class="show">
		{{ block('serie',"series/index.html.twig") }}
		<div class="show-content">

			<div class="youtubetrailer">
				<iframe width="670" height="500" src="https://www.youtube.com/embed/{{ytbcode}}?autoplay=1&mute=1"></iframe>
			</div>
			<div class="show-seasons">
				<div class="w3-container">
					<h2>Consulter les saisons</h2>
					<ul class="w3-ul w3-dark">
						{% set 	seasonNBR = 1 %}
						{% for season in seasons %}
							<li>
								<button type="button" class="collap">Season
									{{seasonNBR}}
									{% set seasonNBR = seasonNBR + 1 %}</button>
								<div class="episodes content">
									<ul>
										{% for episode in season %}
											<li>
												<b>{{episode.title}}</b>
												{{ episode.date|date("m/d/Y") }}
												{% if app.user %}
													{% if app.user in episode.user %}
														<a href="{{ path('episode_unfollow', {'id' : episode.id } ) }}" style="float: right;">
															✅
														</a>
													{% else %}
														<a href="{{ path('episode_follow', {'id' : episode.id } ) }}" style="float: right;">
															❌
														</a>
													{% endif %}

												{% endif %}
											</li>

										{% endfor %}
									</ul>
								</div>
							</li>


						{% endfor %}
					</ul>
				</div>


			</div>
			<div class="show-ratings">
				<h2>Les avis des internautes</h2>
				{% if ratings %}
					{% for rating in ratings %}
						<div class="user-rating">
							<p>
								{{ rating.user.getName()}}</p>
							<p>

								{% for i in 1..5 %}
									{% if rating.value >= i%}
										<i class="fa fa-star checked" id="{{i}}"></i>
									{% else %}
										<i class="fa fa-star unchecked" id="{{i}}"></i>
									{% endif %}
								{% endfor %}
							</p>
							<p>{{ rating.value}}/5</p>

							<p>
								{{ rating.comment}}</p>
							{% if app.user and app.user.getAdmin() == 1 %}
								{{ form(adminDelForms[rating.id]) }}{% endif %}
							</div>


						{% endfor %}
					{% else %}
						<img src="../../icons/icons8-oops-64.png" class="image" alt="oopsicon"><p>Oups... Il semblerait qu'aucune note n'existe pour cette série
						{% endif %}
					</div>


				</main>
				<div class="ratingform">
					{% if app.user and userrating == null %}


						<div class="show-ratingform">
							<h2>{{ app.user.getName()}}, partagez votre avis c'est important !</h2>
							{{ form_start(ratingform) }}<p>Votre note :</p>
							{{ form_widget(ratingform.value ) }}<p>Votre avis :</p>
							{{ form_widget(ratingform.comment) }}{{ form_end(ratingform) }}<br>
						</div>


					{% elseif app.user and userrating != null %}
						<p>
							Ah ! Il semblerait que vous ayez déjà noté cette série</p>
					{% endif %}
				</div>
				<button type="button" class="imp">
					<a href="{{ app.request.headers.get('referer') }}">
						<p>Revenir à la liste des séries</p>
					</a>
				</button>
			{% endblock %}
