{% extends 'base.html.twig' %}

{% form_theme ratingform.value _self %}

{% block choice_widget %}

	{% if choices %}
		{% for choice in choices %}
			<input type="radio" id="rating_form_value_{{choice.label}}" name="rating_form[value]" class="star" required="required" value="{{choice.label}}"/>
		{% endfor %}
	{% endif %}
	<br>
{% endblock %}

{% block title %}Series
{% endblock %}

{% block body %}
	<h1>{{ series.title }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ series.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ series.title }}</td>
			</tr>
			<tr>
				<th>Plot</th>
				<td>{{ series.plot }}</td>
			</tr>
			<tr>
				<th>Imdb</th>
				<td>
					<a href="https://www.imdb.com/title/{{imdbcode}}/" alt="imdb-page">
						Consulter la page Imdb
					</a>
				</td>
			</tr>
		</tbody>
	</td>
</tr>
<tr>
	<th>Poster</th>
	<td><img src="{{path('series_poster', {'id': series.id} ) }}" alt="poster"></td>
</tr>
<tr>
	<th>Director</th>
	<td>{{ series.director }}</td>
</tr>
<tr>
	<th>YoutubeTrailer</th>
	<td>
		<iframe width="420" height="345" src="https://www.youtube.com/embed/{{ytbcode}}?autoplay=1&mute=1"></iframe>
	</td>
</tr>
<tr>
	<th>Awards</th>
	<td>{{ series.awards }}</td>
</tr>
<tr>
	<th>YearStart</th>
	<td>{{ series.yearStart }}</td>
</tr>
<tr>
	<th>YearEnd</th>
	<td>{{ series.yearEnd }}</td>
</tr>
<tr>
	<th>Seasons</th>
	<td>
		<button class="season_nav">Consulter l'ensemble des épisodes</button>
		<ul>
			{% set 	seasonNBR = 1 %}
			{% for season in seasons %}
				<li>Season
					{{seasonNBR}}
					{% set seasonNBR = seasonNBR + 1 %}
				</li>
				<div class="episodes">
					<ul>
						{% for episode in season %}
							<li>{{episode.title}}
								{% if app.user %}
									{% if user in episode.user %}
										<a href="{{ path('episode_unfollow', {'id' : episode.id } ) }}">
											✅
										</a>
									{% else %}
										<a href="{{ path('episode_follow', {'id' : episode.id } ) }}">
											❌
										</a>
									{% endif %}
								{% endif %}
							</li>

						{% endfor %}
					</ul>
				</div>

			{% endfor %}
		</ul>
	</td>
</tr>
<tr></tr>
<tr>
	<th>Les évaluations des internautes</th>
	<td>
		{% for rating in ratings %}
			<div class="user-rating">
				<p>
					{{ rating.user.getName()}}</p>
				<p>

					{% for i in 1..5 %}
						{% if rating.value >= i%}
							<i class="fa fa-star checked" id="{{i}}"></i>
						{% else %}
							<i class="fa fa-star unchecked" id="{{i}}"></i>
						{% endif %}
					{% endfor %}
					{{ rating.value}}/5</p>

				<p>
					{{ rating.comment}}</p>
				{% if app.user %}

					{% if app.user.getAdmin() == 1 %}

						<button type="button" class="btn deletebtn">Delete</button>

					{% endif %}
				{% endif %}
			</div>


		{% endfor %}<br></td>
</tr></td></tr>{% if app.user %}<tr>
<th>Suivie</th>
<td>
	{% if suivie %}
		<a href="{{ path('series_unfollow', {'id' : series.id } ) }}">
			✅
		</a>
	{% else %}
		<a href="{{ path('series_follow', {'id' : series.id } ) }}">
			❌
		</a>
	{% endif %}
</td></tr><tr>

<th>Notez la série !</th>
<td>
	{{ form_start(ratingform) }}
	<p>Votre note :</p>
	{{ form_widget(ratingform.value ) }}
	<p>Votre avis :</p>
	{{ form_widget(ratingform.comment) }}
	{{ form_end(ratingform) }}
	<br>
</td></tr>{% elseif userrating != null %}<th>Votre évalutation</th><td>
<p>
	Vous avez déjà noté cette série</p></td>{% endif %}</tr></tbody></td></tr></tbody></table><a href="{{ path('series_pages', {'id': series.id /10} ) }}">back to list</a>{% endblock %}
