{% extends 'base.html.twig' %}

{% block title %}Episode index
{% endblock %}

{% block body %}
	<h1>Episode index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Imdb</th>
				<th>Imdbrating</th>
				<th>Number</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% set id_season = null %}
			{% for episode in episodes %}
				{% if null == id_season %}
					{% set id_season = episode.season.series.id %}
				{% endif %}

				<tr>
					<td>{{ episode.title }}</td>
					<td>{{ episode.date ? episode.date|date('Y-m-d') : '' }}</td>
					<td>{{ episode.imdb }}</td>
					<td>{{ episode.imdbrating }}</td>
					<td>{{ episode.number }}</td>
					<td>
						<a href="{{ path('episode_edit', {'id': episode.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button class="btn">
		<a href="{{ path('episode_new') }}">Create new</a>
	</button>
	<button class="btn">
		<a href="{{ path('season_show_serie',{'id' : id_season }) }}">retour</a>
	</button>
{% endblock %}
