<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{asset('css/style.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{asset('css/jquery.rating.css') }}">
		<link rel="stylesheet" href="{{asset('css/acceuil.css') }}">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


	</head>


	<header>
		<nav class="navbar primary">
			<a href="{{ path('home') }}" class="navbar-icon"><img src="{{asset('icons/logo.png') }}" alt="Logo" class="image"></a>
			<a href="{{ path('home') }}" class="navbar-icon"><img src="https://fontmeme.com/permalink/210106/af3c4f9e847410ba1edc6f6c8deb11f1.png" alt="netflix-font" class="image" border="0"></a>
			<div class="navbar-menu ml-auto">
				<a class="navbar-link" href="{{ path('home') }}">Accueil</a>
				<a class="navbar-link" href="{{ path('series_index') }}">Séries</a>
				<a class="navbar-link" href="{{asset('other/apropos.html') }}">À propos</a>
				{% if app.user %}
					<a class="navbar-link" href="{{ path('series_followed') }}">Séries suivies</a>
					<img src="{{asset('icons/user_icon.png') }}" alt="User" class="image" id="user-icon">
					<p class="navbar-link">Nom :
						{{ app.user}}
					</p>
					<p class="navbar-link">Pays :
						{{app.user.country}}</p>
					<a class="navbar-link imp" href="{{ path('app_logout')}}">Déconnexion</a>
				{% else %}
					<a class="navbar-link" href="{{ path('app_register') }}">Inscription</a>
					<a class="navbar-link" href="{{ path('app_login') }}">Connexion</a>
				{% endif %}
			</div>
		</nav>
	</header>

	<body>
		{% block body %}{% endblock %}
	</body>

	<script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{ app.request.locale }}" async defer></script>
	{% block javascripts %}{% endblock %}
	<script src="{{ asset('js/main.js') }}"></script>
	<script src="{{ asset('js/jquery.rating.js') }}"></script>


</html>
